@(item: Item)(locations: java.util.List[String])(currentUser: AppUser)(itemsToRecommend: java.util.List[Item])
@main {
    <div class="container">
        <div>
            @if(flash.containsKey("success")) {
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-check-square-o" style="font-size:30px"></i>
                    <span  aria-hidden="true" class="flash-font">@flash.get("success")</span>

                </div>
            }
            @if(flash.containsKey("error")) {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    @flash.get("error")
                </div>
            }
        </div>
    </div>
    <!-- Main Container -->
    <section class="main-container col1-layout wow bounceInUp animated">
        <div class="main container">
            <div class="col-main">
                <div class="row">

                    <div class="product-view">
                        <div class="product-essential">

                                <input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">
                                <div class="product-img-box col-sm-5 col-xs-12">
                                    <div class="new-label new-top-left"> New </div>
                                    <div class="product-image">
                                    @if(item.images.size() > 0) {
                                        <div class="large-image">
                                            <a href='@item.images.get(0).getSize(768, 1024)' class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20" >
                                                <img src='@item.images.get(0).getSize(465, 563)' alt="">
                                            </a>
                                        </div>
                                        <div class="flexslider flexslider-thumb">
                                            <ul class="previews-list slides">
                                            @for(image <- item.images) {
                                                <li><a href='@image.getSize(2000, 3000)' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '@image.getSize(465, 563)' "><img src='@image.getSize(75, 90)' alt = "Thumbnail 1"/></a></li>

                                            }
                                            </ul>
                                        </div>
                                    }else{
                                        <div class="large-image">
                                            <img src='@routes.Assets.versioned("images/product.png")' alt="">
                                        </div>
                                        }
                                    </div>
                                        <!-- end: more-images -->
                                </div>
                            <div class="product-shop col-sm-7 col-xs-12">
                                <div class="product-name">
                                    <h1>@item.name</h1>
                                </div>

                                <div class="price-block">
                                    <div class="price-box">
                                        <p class="special-price"> <span class="price-label"></span> <span id="product-price-48" class="price"> @item.price KM </span> </p>
                                        @if(item.oldPrice != null && item.oldPrice != "0" ){
                                            <p class="old-price"> <span class="price-label"></span> <span class="price"> @item.oldPrice KM </span>
                                                }
                                    </div>
                                </div>

                                <div class="rating">
                                    <div class="ratings">
                                        @if(item.average_Grade == 1) {
                                            <div class="rating-box">
                                                <div class="rating1"></div>
                                            </div>
                                        }
                                        @if(item.average_Grade == 2) {
                                            <div class="rating-box">
                                                <div class="rating2"></div>
                                            </div>
                                        }
                                        @if(item.average_Grade == 3) {
                                            <div class="rating-box">
                                                <div class="rating3"></div>
                                            </div>
                                        }
                                        @if(item.average_Grade == 4) {
                                            <div class="rating-box">
                                                <div class="rating4"></div>
                                            </div>
                                        }
                                        @if(item.average_Grade == 5) {
                                            <div class="rating-box">
                                                <div class="rating5"></div>
                                            </div>
                                        }
                                        @if(item.average_Grade == 0) {
                                            <div class="rating-box">
                                                <div class="rating0"></div>
                                            </div>
                                        }

                                        <p class="rating-links">Ukupno @Review.getNumberOfReviews(item.id) ocjena</p>

                                    </div>
                                </div>

                                    <div class="short-description">
                                        <h2>Opis proizvoda</h2>
                                        <p> @item.description </p>
                                    </div>

                                    <div class="short-description">
                                        <h2>Informacije o prodavaču</h2>
                                        <p> Prodavač: @item.user.name</p>
                                        <p> Adresa:   @item.user.address, @item.user.city</p>
                                        <p> Email:   <a href="#billing-new-address-form">@item.user.email</a></p>
                                        <p> Telefon:  @item.user.phone</p>
                                        <p> Radno vrijeme:  @item.user.workTime</p>
                                    </div>

                                    @if(currentUser != null && item.user.id == currentUser.id){
                                        <div class="short-description">
                                            <h2>Dodaj slike za proizvod</h2>
                                            <form  method="GET" role="form" action="@routes.Images.imagesUploadRender(item.id)" >
                                                <div class="buttons-set">
                                                    <button class="button create-account"><span>Dodaj slike</span></button>
                                                </div>
                                            </form>
                                        </div>
                                    }

                                    <div class="social">
                                        <ul class="link">
                                            <li class="fb"><a href="#"></a></li>
                                            <li class="tw"><a href="#"></a></li>
                                            <li class="googleplus"><a href="#"></a></li>
                                            <li class="linkedin"><a href="#"></a></li>
                                        </ul>
                                    </div>

                                </div>
                        </div>
                        <div class="product-collateral col-lg-12 col-sm-12 col-xs-12 bounceInUp animated">

                            <div class="add_info">
                                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                                    <li class="active"> <a href="#product_tabs_description" data-toggle="tab"> Lokacije objekata </a> </li>
                                    <li><a href="#product_tabs_tags" data-toggle="tab" id="product_tabs_tags1">Kontaktiraj prodavača</a></li>
                                    <li> <a href="#reviews_tabs" data-toggle="tab">Ocijenite proizvod</a> </li>
                                </ul>
                                <div id="productTabContent" class="tab-content">
                                    <div class="tab-pane fade in active" id="product_tabs_description">
                                        <div class="std">
                                            <p>Pogledajte lokacije naših objekata i posjetite nas u najbližem objektu</p>
                                            <div id="map" class="map2"></div>
                                            <input id="locations" name="lat" value="@locations" style="display: none">
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="product_tabs_tags">
                                        @*<div class="box-collateral box-tags">*@
                                            <section class="col-main col-sm-9" id="send_message">
                                                <div class="static-contain">
                                                    <form  method="POST" role="form" action="@routes.Messages.sendMessage(item.id)" >
                                                        <fieldset class="group-select">
                                                            <ul>
                                                                <li id="billing-new-address-form">
                                                                    <fieldset>
                                                                        <ul>
                                                                            <li>
                                                                                <div class="input-box">
                                                                                    <label for="email">Email<span class="required">*</span></label>
                                                                                    <br>
                                                                                    <input type="text" id="email" name="email" title="Email" class="input-text" required>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="input-box">
                                                                                    <label for="subject">Naslov<span class="required">*</span></label>
                                                                                    <br>
                                                                                    <input type="text" id="subject" name="subject" title="Naslov" class="input-text" required>
                                                                                </div>
                                                                            </li>
                                                                            <li class="">
                                                                                <label for="message">Poruka <em class="required">*</em></label>
                                                                                <br>
                                                                                <div class="">
                                                                                    <textarea name="message" id="message" title="Poruka" class="input-text" style="width: 50%; resize: vertical" required></textarea>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </fieldset>
                                                                </li>
                                                                <li><span class="require"><em class="required">* </em>Obavezna polja</span></li>
                                                                <li><div class="buttons-set">
                                                                    <button type="submit" title="Pošalji" class="button submit"> <span> POŠALJI </span> </button>
                                                                </div></li>
                                                            </ul>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </section>
                                        @*</div>*@
                                    </div>
                                    <div class="tab-pane fade" id="reviews_tabs">
                                        <div class="box-collateral box-reviews" id="customer-reviews">
                                            <div class="box-reviews1">
                                                <div class="form-add">
                                                    <form role="form" method="post" action="@routes.Reviews.saveReview(item.id)">
                                                        <h3>Molimo Vas da ocijenite proizvod</h3>
                                                        <fieldset>
                                                            <h4>Ocijenite proizvod na skali od 1 do 5. Molimo unesite svoje podatke, kako bi ocjena bila validna. Hvala! <em class="required">*</em></h4>
                                                            <span id="input-message-box"></span>
                                                            <table id="product-review-table" class="data-table">


                                                                <thead>
                                                                    <tr class="first last">
                                                                        <th>&nbsp;</th>
                                                                        <th><span class="nobr">1 *</span></th>
                                                                        <th><span class="nobr">2 *</span></th>
                                                                        <th><span class="nobr">3 *</span></th>
                                                                        <th><span class="nobr">4 *</span></th>
                                                                        <th><span class="nobr">5 *</span></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr class="first odd">
                                                                        <th>@item.name</th>
                                                                        <td class="value"><input type="radio" class="radio" value="1" id="Price_1" name="ratings" onclick="gg()" ></td>
                                                                        <td class="value"><input type="radio" class="radio" value="2" id="Price_2" name="ratings" onclick="gg()"></td>
                                                                        <td class="value"><input type="radio" class="radio" value="3" id="Price_3" name="ratings" onclick="gg()"></td>
                                                                        <td class="value"><input type="radio" class="radio" value="4" id="Price_4" name="ratings" onclick="gg()"></td>
                                                                        <td class="value last"><input type="radio" class="radio" value="5" id="Price_5" name="ratings" onclick="gg()" checked></td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                            <input type="text" id="ocjena" name="mark" value="5" hidden>
                                                            <div class="review1">
                                                                    <div class="input-box name-firstname">
                                                                        <label for="name">Ime i prezime: <span class="required">*</span></label>
                                                                        <br>
                                                                        <input type="text" id="name" name="name" title="Ime i prezime" class="input-text" required>
                                                                    </div>
                                                                    <div class="input-box name-lastname">
                                                                        <label for="email"> Email:  <span class="required">*</span> </label>
                                                                        <br>
                                                                        <input type="text" id="email" name="email" title="Email" class="input-text" required>
                                                                    </div>
                                                                    <div class="input-box name-lastname">
                                                                        <label for="phone"> Broj telefona:  <span class="required">*</span> </label>
                                                                        <br>
                                                                        <input type="text" id="phone" name="phone" title="Telefon" class="input-text" required>
                                                                    </div>

                                                                    <div class="buttons-set">
                                                                        <button class="button submit" title="Ocijeni" type="submit"><span>Ocijeni </span></button>
                                                                    </div>
                                                            </div>

                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div></div>
    </section>
    <!-- Main Container End -->

    <!-- Related Products Slider -->
    <section class="related-pro wow bounceInUp animated">
        <div class="container">
            <div class="slider-items-products">
                <div class="new_title center">
                    <h2>SLIČNI PROIZVODI</h2>
                </div>
                <div id="related-products-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col4 products-grid">
                        @for(item <- itemsToRecommend) {
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-img">
                                    @if(item.images.size() > 0){
                                        <div class="item-img-info"> <a class="product-image" title="@item.name" href="@routes.Items.itemRender(item.id)"> <img alt="Retis lapen casen" src='@models.Item.getFirstItemImage(item.id).getSize(179,217)'> </a>
                                            <a class="quickview-btn" ><span>Quick View</span></a> </div>
                                    }else{
                                        <div class="item-img-info"> <a class="product-image" title="@item.name" href='@routes.Items.itemRender(item.id)'> <img alt="Retis lapen casen" src='@routes.Assets.versioned("images/product.png")'> </a>
                                            <a class="quickview-btn" ><span>Quick View</span></a> </div>
                                    }
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"> <a title="Retis lapen casen" href='@routes.Items.itemRender(item.id)'> @item.name </a> </div>
                                            <div class="item-content">

                                                <div class="item-price">
                                                    <div class="price-box"> <span class="regular-price"> <span class="price"> @item.price KM</span> </span> </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related Products Slider End -->

    <!-- Featured Slider -->
    <section class="featured-pro container wow bounceInUp animated">
        <div class="slider-items-products">
            <div class="new_title center">
                <h2>NAJNOVIJI PROIZVODI</h2>
            </div>
            <div id="featured-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col4 products-grid">
                @for(item <- models.Item.getLastTenProducts()){
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img">
                            @if(item.images.size() > 0){
                                <div class="item-img-info"> <a class="product-image" title="@item.name" href="@routes.Items.itemRender(item.id)"> <img alt="Retis lapen casen" src='@models.Item.getFirstItemImage(item.id).getSize(179,217)'> </a>
                                    <div class="new-label new-top-left">new</div>
                                    <a class="quickview-btn" ><span>Quick View</span></a> </div>
                            }else{
                                <div class="item-img-info"> <a class="product-image" title="@item.name" href='@routes.Items.itemRender(item.id)'> <img alt="Retis lapen casen" src='@routes.Assets.versioned("images/product.png")'> </a>
                                    <div class="new-label new-top-left">new</div>
                                    <a class="quickview-btn" ><span>Quick View</span></a> </div>
                            }
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="Retis lapen casen" href="@routes.Items.itemRender(item.id)"> @item.name </a> </div>
                                    <div class="item-content">
                                        @*<div class="rating">*@
                                        @*<div class="ratings">*@
                                        @*<div class="rating-box">*@
                                        @*<div class="rating"></div>*@
                                        @*</div>*@
                                        @*<p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>*@
                                        @*</div>*@
                                        @*</div>*@
                                    <div class="item-price">
                                        <div class="price-box"> <span class="regular-price"> <span class="price">@item.price KM </span> </span> </div>
                                    </div>
                                        @*<div class="actions"><a href="wishlist.html" class="link-wishlist" title="Add to Wishlist"></a>*@
                                        @*<div class="add_cart">*@
                                        @*<button class="button btn-cart" type="button"><span>Add to Cart</span></button>*@
                                        @*</div>*@
                                        @*<a href="compare.html" class="link-compare" title="Add to Compare"></a> </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Slider -->
    <!-- service -->
    <div class="our-features-box wow bounceInUp animated">
        <ul>
            <li>
                <div class="feature-box">
                    <div class="icon-truck"></div>
                    <div class="content">Dostava na Vašu adresu</div>
                </div>
            </li>
            <li>
                <div class="feature-box">
                    <div class="icon-support"></div>
                    <div class="content">Trebate pomoć @item.user.phone</div>
                </div>
            </li>
            <li>
                <div class="feature-box">
                    <div class="icon-money"></div>
                    <div class="content">Plaćanje gotovinom ili karticom</div>
                </div>
            </li>
            <li class="last">
                <div class="feature-box">
                    <div class="icon-return"></div>
                    <div class="content">Montiranje namještaja</div>
                </div>
            </li>
        </ul>
    </div>
    <!-- end service -->
    <!--GOOGLE -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfCf4BKPmFsOCDcyc1sq-5OWwn1O4F2Rg&callback=initialize"></script>
    <script src='@routes.Assets.versioned("javascripts/map.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/googleAnalytics.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/reviews.js")'></script>



}