@import helpers.UserAccessLevel
@(users: java.util.List[AppUser])
@main{
    <div class="container">
        <div class="row">
            <div class="text-center" id="margin-bottom-admin">
                <h1>Lista korisnika</h1>
            </div>
        </div>
        <div>
            @if(flash.containsKey("success")) {
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-check-square-o" style="font-size:30px"></i>
                    <span  aria-hidden="true" class="flash-font">@flash.get("success")</span>

                </div>
            }
            @if(flash.containsKey("error")) {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    @flash.get("error")
                </div>
            }
        </div>
    </div>
    <section class="main-container col2-right-layout wow bounceInUp animated">
        <div class="main container">
            <div class="row">
                <section class="col-md-12" id="tablemargins">
                    <table class="table table-striped table-bordered table-responsive" id="sort">
                        <thead>
                            <tr class="about">
                                <th>Naziv firme</th>
                                <th>Email</th>
                                <th class="text-center">Telefon</th>
                                <th class="text-center">Grad</th>
                                <th class="text-center">Adresa</th>
                                <th class="text-center">Proizvodi</th>
                                <th class="text-center">Poruke</th>
                                <th class="text-center">Blokiraj</th>
                                <th class="text-center">Obriši</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(user <- users) {
                            @if(user.userAccessLevel != UserAccessLevel.ADMIN) {
                                <tr class="about" >
                                    <td>@user.name</td>
                                    <td>@user.email</td>
                                    <td class="text-center">@user.phone</td>
                                    <td class="text-center">@user.city</td>
                                    <td class="text-center">@user.address</td>
                                    <td class="text-center">
                                        <a class="fa-buttons" title="Proizvodi" href="@routes.Items.usersItems(user.id)" role="button">
                                            <i class=" fa fa-list fa-lg"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a class="fa-buttons" title="Poruke korisnika" href="@routes.Messages.listOfMessagesForAdmin(user.id)" role="button">
                                            <i class=" fa fa-envelope-o fa-lg"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                    @if(user.isActive == null || user.isActive == false) {
                                        <a class="fa-buttons"  title="AKTIVIRAJ" href="@routes.AppUsers.isUserActive(user.id)" role="button">
                                            <button id="send2"  type="submit" class="button"><i class="fa fa-check"></i> <span>AKTIVIRAJ</span></button>
                                        </a>
                                    } else {
                                        <a class="fa-buttons" title="BLOKIRAJ" href="@routes.AppUsers.isUserActive(user.id)" role="button">
                                            <button id="send2" type="submit" class="button"><i class="fa fa-close"></i> <span>BLOKIRAJ</span></button>
                                        </a>
                                    }
                                    </td>
                                    <td class="text-center">
                                        <a class="fa-buttons" data-role="delete-user" title="Obriši korisnika" href="@routes.AppUsers.deleteUser(user.id)" role="button">
                                            <i class=" fa fa-trash-o fa-lg"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </section>

                <section>
                    <div class="col-md-6 col-md-offset-5" id="margin-bottom-header">
                        <form  method="GET" role="form" action="@routes.AppUsers.createUserRender()" >
                            <div class="buttons-set">
                                <button class="button create-account"><span>DODAJ KORISNIKA</span></button>
                            </div>
                        </form>

                    </div>
                </section>

            </div>

        </div>
    </section>

    <script src="@routes.Assets.versioned("javascripts/sort.js")"></script>
    <script src='@routes.Assets.versioned("javascripts/deleteConfirm.js")'></script>
}