@(news: News)
@main {
    <div style="background-image:url(@news.images.get(0).getSize(1600,600))">
        <!-- Main Container -->
        <section class="main-container col2-right-layout bounceInUp animated">
            <div class="main container"  style="background-color: white">
                <div class="row">
                    <div class="col-main col-sm-9">
                        <div class="blog-wrapper" id="main">
                            <div class="site-content" id="primary">
                                <div role="main" id="content">

                                    <article class="blog_entry clearfix">
                                        <header class="blog_entry-header clearfix">
                                            <div class="blog_entry-header-inner">
                                                <h2 class="blog_entry-title">@news.title </h2>
                                            </div>
                                                <!--blog_entry-header-inner-->
                                        </header>
                                        <div class="entry-content">
                                            <div class="entry-content">
                                                <p>@news.text</p>
                                            </div>

                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>

                    <aside class="col-right sidebar col-sm-3">
                        <div role="complementary" class="widget_wrapper13" id="secondary">
                                <!-- Banner Ad Block -->
                            <div class="ad-spots widget widget__sidebar">
                                <a target="_self" href="#" title=""><img alt="offer banner" src='@routes.Assets.versioned("images/block1.jpg")' style="width : 280px;"></a>
                                <a target="_self" href="#" title=""><img alt="offer banner" src='@routes.Assets.versioned("images/block1.jpg")' style="width : 280px;"></a>
                            </div>
                                <!-- Banner Text Block -->
                            <div class="text-widget widget widget__sidebar">
                                <h3 class="widget-title">Text Banner</h3>
                                <div class="widget-content">Mauris at blandit erat. Nam vel tortor non quam scelerisque cursus. Praesent nunc vitae magna pellentesque auctor. Quisque id lectus.<br>
                                    <br>
                                    Massa, eget eleifend tellus. Proin nec ante leo ssim nunc sit amet velit malesuada pharetra. Nulla neque sapien, sollicitudin non ornare quis, malesuada.</div>
                            </div>
                        </div>
                    </aside>

                </div>
            </div>
        </section>
        <!-- Main Container End -->
    </div>
}
