@(news: News)
@main {
    <div style="background-image:url(@news.images.get(0).getSize(1600,600))">
        <!-- Main Container -->
        <section class="main-container col2-right-layout bounceInUp animated">
            <div class="main container"  style="background-color: white">
                <div class="row">
                    <div class="col-main col-sm-9">
                        <div class="blog-wrapper" id="main">
                            <div class="site-content" id="primary">
                                <div role="main" id="content">

                                    <article class="blog_entry clearfix">
                                        <header class="blog_entry-header clearfix">
                                            <div class="blog_entry-header-inner">
                                                <h2 class="blog_entry-title">@news.title </h2>
                                            </div>
                                                <!--blog_entry-header-inner-->
                                        </header>
                                        <div class="entry-content">
                                            <div class="entry-content">
                                                <p>@news.text</p>
                                            </div>

                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>

                    <aside class="col-right sidebar col-sm-3">
                        <div role="complementary" class="widget_wrapper13" id="secondary">
                                <!-- Banner Ad Block -->
                            <div class="ad-spots widget widget__sidebar">
	                            @if(Banner.findBannerByPosition(8) != null) {
		                            <div class="col"><a href="@Banner.findBannerByPosition(8).link"><img src='@Banner.findBannerByPosition(8).image'alt="offer banner3"></a></div>
	                            }else{
		                            <div class="col"><a href="@routes.ContactUs.contactUsRender()"><img src='@routes.Assets.versioned("images/bannerNews.png")' alt="offer banner3"></a></div>
	                            }
	                            @if(Banner.findBannerByPosition(9) != null) {
		                            <div class="col"><a href="@Banner.findBannerByPosition(9).link"><img src='@Banner.findBannerByPosition(9).image'alt="offer banner3"></a></div>
	                            }else{
		                            <div class="col"><a href="@routes.ContactUs.contactUsRender()"><img src='@routes.Assets.versioned("images/bannerNews.png")' alt="offer banner3"></a></div>
	                            }
                                @*<a target="_self" href="#" title=""><img alt="offer banner" src='@routes.Assets.versioned("images/bannerNews.png")' ></a>*@
                                @*<a target="_self" href="#" title=""><img alt="offer banner" src='@routes.Assets.versioned("images/bannerNews.png")' ></a>*@
                            </div>
                        </div>
                    </aside>

                </div>
            </div>
        </section>
        <!-- Main Container End -->
    </div>
}
