@import helpers.UserAccessLevel
@main {
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/lastTenProducts.js")"></script>

    <!-- Slider -->
    <div id="magik-slideshow" class="magik-slideshow">
        <div class="container">
            <div class="row wow bounceInUp animated animated animated" style="visibility: visible">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" id="main-categories">
                    <div class="side-nav-categories">
                        <div class="block-title"> Kategorije </div>
                            <!--block-title-->
                            <!-- BEGIN BOX-CATEGORY -->
                        <div class="box-content box-category">
                            <ul>
                                <li> <a href="">NAMEŠTAJ</a><span class="subDropdown plus"></span>
                                    <ul class="level0_455">
                                    @for(category <- models.Category.findAllCategories()) {
                                        <li> <a href="@routes.Items.getItemsWithSubCategory(category.id)"> @category.name </a></li>
                                    }
                                    </ul>
                                        <!--level0-->
                                </li>

                                <li> <a href="">AKCIJA</a></li>
                                <li> <a href="">TOP PONUDA</a></li>
                                <li> <a href="">IDEJE</a></li>
                                <li> <a href="">VIJESTI</a></li>
                                <li> <a href="">PARTNERI</a></li>
                            </ul>
                        </div>
                            <!--box-content box-category-->
                    </div>
                </div>
                <div class="col-lg-9 col-sm-12 col-md-8 bounceInUp animated">
                    <div style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px">
                        <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container' >
                            <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
                                <ul>
                                    <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='@routes.Assets.versioned("images/slide-img1.jpg")'><img src='@routes.Assets.versioned("images/slide-img1.jpg")' data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="" />
                                        <div class="info">
                                            <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='0'  data-y='165'  data-endspeed='500'  data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;'><span>New Season</span></div>
                                            <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='0'  data-y='220'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; max-width:auto;max-height:auto;white-space:nowrap;'><span>Summer Sale</span></div>
                                            <div class='tp-caption sfb  tp-resizeme ' data-x='0'  data-y='410'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='#' class="buy-btn">Shop Now</a></div>
                                            <div class='tp-caption Title sft  tp-resizeme ' data-x='0'  data-y='320'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><h4 class="banner-text">In augue urna, nunc, tincidunt, augue, augue facilisis facilisis</h4></div>
                                        </div>
                                    </li>
                                    <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='@routes.Assets.versioned("images/slide-img2.jpg")'><img src='@routes.Assets.versioned("images/slide-img2.jpg")'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat'  alt=""/>
                                        <div class="info">
                                            <div class='tp-caption ExtraLargeTitle sft slide2  tp-resizeme ' data-x='45'  data-y='165'  data-endspeed='500'  data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;padding-right:0px'>laptop Sale</div>
                                            <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='45'  data-y='220'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>Go Lightly</div>
                                            <div    class='tp-caption sfb  tp-resizeme ' data-x='45'  data-y='400'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='#' class="buy-btn">Buy Now</a></div>
                                            <div class='tp-caption Title sft  tp-resizeme ' data-x='45'  data-y='320'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><h4 class="banner-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4></div>
                                        </div>
                                    </li>
                                    <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='@routes.Assets.versioned("images/slide-img3.jpg")'><img src='@routes.Assets.versioned("images/slide-img3.jpg")'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat'  alt=""/>
                                        <div class="info">
                                            <div class='tp-caption ExtraLargeTitle sft slide2  tp-resizeme ' data-x='45'  data-y='165'  data-endspeed='500'  data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;padding-right:0px'>laptop Sale</div>
                                            <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='45'  data-y='220'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>Go Lightly</div>
                                            <div    class='tp-caption sfb  tp-resizeme ' data-x='45'  data-y='400'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='#' class="buy-btn">Buy Now</a></div>
                                            <div class='tp-caption Title sft  tp-resizeme ' data-x='45'  data-y='320'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><h4 class="banner-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4></div>
                                        </div>
                                    </li>
                                    <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='@routes.Assets.versioned("images/slide-img4.jpg")'><img src='@routes.Assets.versioned("images/slide-img4.jpg")'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat'  alt=""/>
                                        <div class="info">
                                            <div class='tp-caption ExtraLargeTitle sft slide2  tp-resizeme ' data-x='45'  data-y='165'  data-endspeed='500'  data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;padding-right:0px'>laptop Sale</div>
                                            <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='45'  data-y='220'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'>Go Lightly</div>
                                            <div    class='tp-caption sfb  tp-resizeme ' data-x='45'  data-y='400'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='#' class="buy-btn">Buy Now</a></div>
                                            <div class='tp-caption Title sft  tp-resizeme ' data-x='45'  data-y='320'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><h4 class="banner-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Slider -->
    <!-- banner -->
    <div class="top-banner-section">
        <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wow bounceup animated">
                    <div class="col"><a href="#"><img src='@routes.Assets.versioned("images/block1.jpg" )'alt="offer banner3"></a></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wow bounceup animated">
                    <div class="col"><a href="#"><img src='@routes.Assets.versioned("images/block2.jpg")' alt="offer banner3"></a></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wow bounceup animated">
                    <div class="col"><a href="#"><img src='@routes.Assets.versioned("images/block3.jpg")' alt="offer banner3"></a></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wow bounceup animated">
                    <div class="col"><a href="#"><img src='@routes.Assets.versioned("images/block3.jpg")' alt="offer banner3"></a></div>
                </div>

        </div>
    </div>
    <!-- end banner -->
    <div class="container">
        <div class="product-collateral col-lg-10 col-md-10 col-sm-10 col-xs-12 bounceInUp animated">

            <div class="add_info">
                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                    <li class="active"> <a href="#product_tabs_description" data-toggle="tab">IZDVOJENI PROIZVODI</a> </li>
                    <li><a href="#product_tabs_tags" data-toggle="tab">NAJNOVIJI</a></li>
                    <li> <a href="#product_tabs_custom" data-toggle="tab">Custom Tab</a> </li>
                </ul>


                <div id="productTabContent" class="tab-content col-lg-12 col-sm-12 col-xs-12 container">
                    <div class="tab-pane fade in active" id="product_tabs_description">

                        <section class="featured-pro  wow bounceInUp animated">
                            <div class="slider-items-products">
                                <div id="best-seller-slider" class="product-flexslider hidden-buttons">
                                    <div class="slider-items slider-width-col4 products-grid">
                                    @for(item <- models.Item.itemsForHomepageSlider()) {
                                            <!-- Item -->
                                        <div class="col-md-12 item">
                                            <div class="item-inner">
                                                <div class="item-img">
                                                @if(item.images.size() > 0){
                                                    <div class="item-img-info"> <a class="product-image" title="@item.name" href="@routes.Items.itemRender(item.id)"> <img alt="Retis lapen casen" src='@models.Item.getFirstItemImage(item.id).getSize(179,217)'> </a>
                                                        <div class="new-label new-top-left">new</div>
                                                        <a class="quickview-btn" ><span>Quick View</span></a> </div>
                                                }else{
                                                    <div class="item-img-info"> <a class="product-image" title="@item.name" href='@routes.Items.itemRender(item.id)'> <img alt="Retis lapen casen" src='@routes.Assets.versioned("images/product.png")'> </a>
                                                        <div class="new-label new-top-left">new</div>
                                                        <a class="quickview-btn" ><span>Quick View</span></a> </div>
                                                }
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title"> <a title="Retis lapen casen" href="@routes.Items.itemRender(item.id)"> @item.name </a> </div>
                                                        <div class="item-content">
                                                            <div class="rating">
                                                                <div class="ratings">
                                                                    @if(item.average_Grade == 1) {
                                                                        <div class="rating-box">
                                                                            <div class="rating1"></div>
                                                                        </div>
                                                                    }
                                                                    @if(item.average_Grade == 2) {
                                                                        <div class="rating-box">
                                                                            <div class="rating2"></div>
                                                                        </div>
                                                                    }
                                                                    @if(item.average_Grade == 3) {
                                                                        <div class="rating-box">
                                                                            <div class="rating3"></div>
                                                                        </div>
                                                                    }
                                                                    @if(item.average_Grade == 4) {
                                                                        <div class="rating-box">
                                                                            <div class="rating4"></div>
                                                                        </div>
                                                                    }
                                                                    @if(item.average_Grade == 5) {
                                                                        <div class="rating-box">
                                                                            <div class="rating5"></div>
                                                                        </div>
                                                                    }
                                                                    @if(item.average_Grade == 0) {
                                                                        <div class="rating-box">
                                                                            <div class="rating0"></div>
                                                                        </div>
                                                                    }

                                                                    </div>
                                                            </div>
                                                            <div class="item-price">
                                                                <div class="price-box"> <span class="regular-price"> <span class="price">@item.price</span> </span> </div>
                                                            </div>
                                                            @*<div class="actions"><a href="wishlist.html" class="link-wishlist" title="Add to Wishlist"></a>*@
                                                            @*<div class="add_cart">*@
                                                            @*<button class="button btn-cart" type="button"><span>Add to Cart</span></button>*@
                                                            @*</div>*@
                                                            @*<a href="compare.html" class="link-compare" title="Add to Compare"></a> *@
                                                            @*</div>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <!-- End Item -->
                                    }
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="tab-pane fade" id="product_tabs_tags">
                        <div class="box-collateral box-tags">
                                                            <!--tags-->
                            <p class="note">Odluciti sta ce ici ovdje</p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="product_tabs_custom">
                        <div class="product-tabs-content-inner clearfix">
                            <p> <strong> Comfortable </strong><span>&nbsp;preshrunk shirts. Highest Quality Printing.  6.1 oz. 100% preshrunk heavyweight cotton Shoulder-to-shoulder taping Double-needle sleeves and bottom hem

                                Lorem Ipsumis
                                simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when
                                an unknown printer took a galley of type and scrambled it to make a type
                                specimen book. It has survived not only five centuries, but also the
                                leap into electronic typesetting, remaining essentially unchanged. It
                                was popularised in the 1960s with the release of Letraset sheets
                                containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem
                                Ipsum.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-banner-section2 ">
            <div class="container">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12  ">
                    <div class="col"><a href="#"><img src='@routes.Assets.versioned("images/slika1.jpeg")' alt="offer banner3"></a></div>
                </div>
            </div>
        </div>
    </div>

    <!--Offer Start-->
    <div class="offer-slider wow animated parallax parallax-2">
        <div class="container">
            <ul class="bxslider">
                <li>
                    <h2>NEW ARRIVALS</h2>
                    <h1>Sale up to 30% off</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. </p>
                    <a class="shop-now" href="#">Shop now</a> </li>
                <li>
                    <h2>Hello hotness!</h2>
                    <h1>Summer collection</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. </p>
                    <a class="shop-now" href="#">View More</a> </li>
                <li>
                    <h2>New launch</h2>
                    <h1>Designer dresses on sale</h1>
                    <p>Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu massa. </p>
                    <a class="shop-now" href="#">Learn More</a> </li>
            </ul>
        </div>
    </div>
    <!--Offer silder End-->

    <!-- Featured Slider -->
    <div class="container">
            <section class="col-lg-10 col-md-10 col-sm-10 col-xs-12 featured-pro container wow bounceInUp animated">
                <div class="slider-items-products">
                    <div class="new_title center">
                        <h2>NAJNOVIJI PROIZVODI</h2>
                    </div>
                    <div id="featured-slider" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col4 products-grid">
                        @for(item <- models.Item.getLastTenProducts()){
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-img">
                                    @if(item.images.size() > 0){
                                        <div class="item-img-info"> <a class="product-image" title="@item.name" href="@routes.Items.itemRender(item.id)"> <img alt="Retis lapen casen" src='@models.Item.getFirstItemImage(item.id).getSize(179,217)'> </a>
                                            <div class="new-label new-top-left">new</div>
                                            <a class="quickview-btn" ><span>Quick View</span></a> </div>
                                    }else{
                                        <div class="item-img-info"> <a class="product-image" title="@item.name" href='@routes.Items.itemRender(item.id)'> <img alt="Retis lapen casen" src='@routes.Assets.versioned("images/product.png")'> </a>
                                            <div class="new-label new-top-left">new</div>
                                            <a class="quickview-btn" ><span>Quick View</span></a> </div>
                                    }
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"> <a title="Retis lapen casen" href="@routes.Items.itemRender(item.id)"> @item.name </a> </div>
                                            <div class="item-content">
                                                <div class="rating">
                                                    <div class="ratings">
                                                        @if(item.average_Grade == 1) {
                                                            <div class="rating-box">
                                                                <div class="rating1"></div>
                                                            </div>
                                                        }
                                                        @if(item.average_Grade == 2) {
                                                            <div class="rating-box">
                                                                <div class="rating2"></div>
                                                            </div>
                                                        }
                                                        @if(item.average_Grade == 3) {
                                                            <div class="rating-box">
                                                                <div class="rating3"></div>
                                                            </div>
                                                        }
                                                        @if(item.average_Grade == 4) {
                                                            <div class="rating-box">
                                                                <div class="rating4"></div>
                                                            </div>
                                                        }
                                                        @if(item.average_Grade == 5) {
                                                            <div class="rating-box">
                                                                <div class="rating5"></div>
                                                            </div>
                                                        }
                                                        @if(item.average_Grade == 0) {
                                                            <div class="rating-box">
                                                                <div class="rating0"></div>
                                                            </div>
                                                        }

                                                    <p class="rating-links">Ukupno @Review.getNumberOfReviews(item.id) ocjena</p>

                                                    </div>
                                                </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">@item.price KM </span> </span> </div>
                                            </div>

                                                @*<div class="actions"><a href="wishlist.html" class="link-wishlist" title="Add to Wishlist"></a>*@
                                                @*<div class="add_cart">*@
                                                @*<button class="button btn-cart" type="button"><span>Add to Cart</span></button>*@
                                                @*</div>*@
                                                @*<a href="compare.html" class="link-compare" title="Add to Compare"></a> </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        </div>
                    </div>
                </div>
            </section>

        <div class="top-banner-section2 ">
            <div class="container">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12  ">
                    <div class="col"><a href="#"><img src='@routes.Assets.versioned("images/slika2.png")' alt="offer banner3"></a></div>
                </div>
            </div>
        </div>

    </div>


    <!-- End Featured Slider -->

    <div class="brand-logo wow bounceInUp animated">
        <div class="container">
            <div class="new_title center">
                <h2>TOP BRANDS</h2>
            </div>
            <div class="slider-items-products">
                <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col6">

                            <!-- Item -->
                        <div class="item"><a href="#"><img src='@routes.Assets.versioned("images/b-logo3.png")' alt="Image"></a> </div>
                            <!-- End Item -->

                            <!-- Item -->
                        <div class="item"><a href="#"><img src='@routes.Assets.versioned("images/b-logo2.png")' alt="Image"></a> </div>
                            <!-- End Item -->

                            <!-- Item -->
                        <div class="item"><a href="#"><img src='@routes.Assets.versioned("images/b-logo1.png")' alt="Image"></a> </div>
                            <!-- End Item -->

                            <!-- Item -->
                        <div class="item"><a href="#"><img src='@routes.Assets.versioned("images/b-logo4.png")' alt="Image"></a> </div>
                            <!-- End Item -->

                            <!-- Item -->
                        <div class="item"><a href="#"><img src='@routes.Assets.versioned("images/b-logo5.png")' alt="Image"></a> </div>
                            <!-- End Item -->

                            <!-- Item -->
                        <div class="item"><a href="#"><img src='@routes.Assets.versioned("images/b-logo6.png")' alt="Image"></a> </div>
                            <!-- End Item -->

                            <!-- Item -->
                        <div class="item"><a href="#"><img src='@routes.Assets.versioned("images/b-logo1.png")' alt="Image"></a> </div>
                            <!-- End Item -->

                            <!-- Item -->
                        <div class="item"><a href="#"><img src='@routes.Assets.versioned("images/b-logo4.png")' alt="Image"></a> </div>
                            <!-- End Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Latest Blog -->
    <section class="latest-blog wow bounceInUp animated">
        <div class="container">
            <div class="new_title center">
                <h2>Najnovije vijesti</h2>
            </div>
            <div class="row">
                @for(news <- models.News.lastNews) {
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                        <div class="blog_inner">
                            <div class="blog-img"> <img src='@news.images.get(0).getSize(780,420)' alt="Blog image">
                                <div class="mask"> <a class="info" href="@routes.NewsController.newsRender(news.id)">Pročitaj više</a> </div>
                            </div>
                            <h3><a href="blog_detail.html">@news.title</a> </h3>
                            <div class="post-date"><i class="icon-calendar"></i>@news.date </div>
                            <p>@news.text.substring(0,70)  ... </p>
                            <a class="readmore" href="@routes.NewsController.newsRender(news.id)">Pročitaj više</a> </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- End Latest Blog -->

}
