@main{
    <!-- Main Container -->
    <section class="main-container col1-layout bounceInUp animated">
        <div class="main container">
            <div class="account-login">
                <fieldset class="col2-set">
                    <legend>Prijavite se ili kreirajte profil</legend>
                    <div class="col-1 new-users"><strong>Novi korisnici</strong>
                        <div class="content">
                            <p>Ukoliko želite kreirati profil molimo Vas da nas kontaktirate putem email-a.
                                Kreiranjem profila biće Vam omogućeno da prezentujete svoje artikle, dodate radnje na mapu, pratite kupovinu,
                                i još mnoge druge pogodnosti.</p>
                            <div class="buttons-set">
                                <button class="button create-account"><span>Kontaktirajte nas</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 registered-users"><strong>Registrovani korisnici </strong>
                        <form  method="POST" role="form" action="@routes.Login.login()" >
                            <div class="content">
                                <p>Ukoliko imate profil, molimo Vas da unesete podatke.</p>
                                <ul class="form-list">
                                    <li>
                                        <label for="email">Email Adresa <span class="required">*</span></label>
                                        <br>
                                        <input type="text" title="Email Address" class="input-text" id="email" value="" name="email">
                                    </li>
                                    <li>
                                        <label for="pass">Password <span class="required">*</span></label>
                                        <br>
                                        <input type="password" title="Password" id="pass" class="input-text" name="password">
                                    </li>
                                </ul>
                                <p class="required">* Obavezna polja </p>
                                <div class="buttons-set">
                                    <button id="send2" name="send" type="submit" class="button login"><span>Login</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </fieldset>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </section>
    <!-- Main Container End -->
}