@main {
    <section class="content-wrapper bounceInUp animated">
        <div class="container margin-bottom-50">
            <div class="std">
                <div class="page-not-found">
                    <h2>404</h2>
                    <h3><img src='@routes.Assets.versioned("images/signal.png")' alt="error image">Oops! Stranica koju ste tražili nije pronađena!</h3>
                    <div><a href="@routes.Application.index()" class="btn-home"><span>Vrati se na početnu</span></a></div>
                </div>
            </div>
        </div>
    </section>
}