@(userId: Integer)
@main {
    <!-- Main Container -->
    <section class="main-container col2-right-layout wow bounceInUp animated">
        <div class="main container">
            <div class="row">
                <section class="col-main col-sm-12">
                    <div class="page-title">
                        <h2>Kreiraj objekat</h2>
                    </div>
                    <div class="static-contain">
                        <fieldset class="group-select">
                            <form  method="POST" role="form" action="@routes.Stores.createStore(userId)">
                                <ul>
                                    <li id="billing-new-address-form">
                                        <fieldset>
                                            <div class="col-md-6">
                                                <ul>
                                                    <li>
                                                        <div class="customer-name">
                                                            <div class="input-box name-firstname">
                                                                <label for="name">Naziv objekta <span class="required">*</span></label>
                                                                <br>
                                                                <input type="text" id="name" name="name" title="First Name" class="input-text" required>
                                                            </div>

                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="input-box">
                                                            <label for="billing:company">Grad <span class="required">*</span>  </label>
                                                            <br>
                                                            <input type="text" id="city" name="city" title="City" class="input-text" required>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="input-box">
                                                            <label for="billing:email">Adresa <span class="required">*</span></label>
                                                            <br>
                                                            <input type="text" name="address" id="address" title="Address" class="input-text" required>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="input-box">
                                                    <p class="text-center">UPUTSTVO</p>

                                                    <p>Kreiranje objekata služi isključivo kako bi potencijalni kupci mogli na mapi vidjeti
                                                        gdje se Vaši objekti nalaze, te odlučiti gdje će obaviti kupovinu. Kada se kreira objekat,
                                                        automatski će biti prikazan na mapi Vaših objekata, na osnovu adrese koju ste unijeli.
                                                        Ukoliko želite promijeniti neki od podataka molimo Vas da to uradite na ažuriranju objekta.
                                                    </p>
                                                </div>

                                            </div>
                                        </fieldset>
                                    </li>
                                    <li><span class="require"><em class="required">* </em>Obavezna polja</span></li>
                                    <li>
                                        <div class="buttons-set">
                                            <button type="submit" title="Submit" class="button submit"> <span> Dodaj </span> </button>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                        </fieldset>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- Main Container End -->
}