@(user: AppUser)
@main{
    <div class="container">
        <div>
            @if(flash.containsKey("success")) {
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-check-square-o" style="font-size:30px"></i>
                    <span  aria-hidden="true" class="flash-font">@flash.get("success")</span>

                </div>
            }
            @if(flash.containsKey("error")) {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    @flash.get("error")
                </div>
            }
        </div>
    </div>
    <!-- Main Container -->
    <section class="main-container col2-right-layout wow bounceInUp animated">
        <div class="main container">
            <div class="row">
                <div class="col-main col-sm-9">
                    <div class="my-account">
                        <div class="page-title">
                            <h2>Korisnički Panel</h2>
                        </div>
                        <div class="dashboard">
                            <div class="welcome-msg"> <strong>Zdravo, @user.name!</strong>
                                <p> Na korisničkom panelu imate mogućnost ažuriranja svojih informacija, dodavanja, ažuriranja, te brisanja objekata i proizvoda.</p>
                            </div>

                            <div class="box-account">
                                <div class="col2-set">
                                    <div class="col-1">
                                        <form  method="GET" role="form" action="@routes.AppUsers.updateUserInformationsRender(user.id)" >
                                            <h5>Korisnički podaci</h5>
                                            <p> Ime: @user.name <br>
                                                Adresa: @user.address<br>
                                                Grad: @user.city<br>
                                                Telefon: @user.phone
                                                <br>
                                                <br>
                                            </p>
                                            <div class="buttons-set">
                                                <button id="send2" name="send" type="submit" class="button"> <i class="fa fa-pencil"></i> <span> Ažuriraj</span></button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-2">
                                        <form  method="POST" role="form" action="@routes.AppUsers.updateUserPassword(user.id)" >
                                            <h5>Pristupne informacije</h5>
                                            <p>@user.email</p>
                                            <input type="password" title="Password" class="input-text" name="password" required>
                                            <br>
                                            <br>
                                            <br>
                                            <div class="buttons-set">
                                                <button id="send2" name="send" type="submit" class="button "> <i class="fa fa-pencil"></i><span> Ažuriraj</span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <aside class="col-right sidebar col-sm-3">
                    <div class="block block-account">
                        <div class="block-title">Upravljanje stranicom</div>
                        <div class="block-content">
                            <ul>
                                <li class="current"><a>Korisnički panel</a></li>
                                <li><a href="@routes.Stores.listOfStores(user.id)">Objekti</a></li>
                                <li><a href="@routes.Stores.createStoreRender(user.id)">Dodaj objekat</a></li>
                                <li><a href="@routes.Items.listOfItems(user.id)">Poizvodi</a></li>
                                <li><a href="@routes.Items.createItem(user.id)">Dodaj proizvod</a></li>
                                <li><a href="#">My Orders</a></li>
                                <li><a href="#">Billing Agreements</a></li>
                                <li><a href="#">Recurring Profiles</a></li>
                                <li><a href="#">My Product Reviews</a></li>
                                <li><a href="#">My Tags</a></li>
                                <li><a href="wishlist.html">My Wishlist</a></li>
                                <li><a href="#">My Downloadable</a></li>
                                <li class="last"><a href="#">Newsletter Subscriptions</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
}